/* header */

.headerWrapper{
    display: flex;
    justify-content: center;
}

.header{
    width: 100%;
}

/* picture of you */

.headshotImg{
    height: 250px;
    border:2px solid black;
    border-radius: 150px;
    background-color: rgb(196, 148, 184);
    float: left;
    margin-left: 90px;
}


/* your name and current position */
.title{
    text-align: center;
}

.name{
    font-size: 80px;
    font-weight: bold;
}

.position{

}

/* contact info */

.contactWrapper{
    display: flex;
    justify-content: center;
    border:2px solid black;
    padding: 30px;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

.contactInfo{
    margin-right: 20px;
    color: white;
}

.contactInfoTitle{
    font-weight: bold;
    color: white;
}

.phoneImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

.mailImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

.homeImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

/* main content */

/* content wrapper */

.contentWrapper{
    border: solid black;
}


/* education */

.educationWrapper{
    border: solid blue;
}

.educationTitle{
    border: solid orange;
}

.educationTitleText{
    border: solid black;
}

.educationListWrapper{
    border: solid rgb(0, 0, 0);
}

.educationDegree{
    border: solid rgb(255, 0, 0);
}

.educationName{
    border: solid rgb(86, 24, 255);
}

.educationYear{
    border: solid rgb(5, 155, 30);
}


/* profile */

.profileWrapper{
    border: solid pink;
}

.profile{
    border: solid rgb(255, 0, 13);
}

.profileTitle{
    border: solid purple;
}

.profileText{
    border: solid black;
}

/* skills */

.skillsWrapper{
    border: solid black;
}

.skillsTitle{
    border: solid rgb(11, 148, 107);
}

.skillsTitleText{
    border: solid rgb(0, 3, 187);
}

.skill{
    border: solid rgb(255, 153, 153);
}

.skillList{
    border: solid black;
}

/* experience */

.xpWrapper{
    border: solid black;
}

.xpTitle{
    border: solid rgb(0, 255, 85);
}

.xpTitleText{
    border: solid black;
}

.xpInfo{
    border: solid rgb(68, 5, 216);

}

.xpName{
    border: solid rgb(255, 27, 236);
}

.xpJob{
    border: solid rgb(255, 0, 0);
}

.xpDates{
    border: solid black;
}

.xpDesc{
    border: solid rgb(255, 123, 0);

}