/* header */

.headerWrapper{
    display: flex;
    justify-content: center;
}

.header{
    width: 80%;
    margin-top: 25px;
}

/* picture of you */

.headshotImg{
    height: 250px;
    border:2px solid black;
    border-radius: 150px;
    background-color: rgb(196, 148, 184);
    float: left;
    margin-left: 90px;
}


/* your name and current position */
.title{
    text-align: center;
}

.name{
    font-size: 80px;
    font-weight: bold;
}

/* contact info */

.contactWrapper{
    display: flex;
    justify-content: center;
    border:2px solid black;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

.contactInfo{
    margin-right: 20px;
    color: white;
}

.contactInfoTitle{
    font-weight: bold;
    color: white;
}

.phoneImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

.mailImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

.homeImg{
    border: solid rgb(255, 255, 255);
    border-radius: 45px;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    background-color: white;
}

/* main content */

/* content wrapper */

.contentWrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.left{
    width: 25%;
}

.right{
    width: 75%;
}


/* education */

.educationWrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray;
}

.educationTitle{
    text-align: center;
}

.educationListWrapper{
    padding: 10px;
}

.educationDegree{
    font-weight: bold;
    font-size: 18px;
}

.educationName{
font-size: 16px;
}
.educationYear{
    font-size: 12px;
    margin-bottom: 15px;
}


/* profile */

.profileWrapper{
    border-left: 1px solid lightgray;
    display: flex;
    justify-content: center;

}

.profile{
    width: 90%;
}

/* skills */

.skillsWrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray;
    line-height: 40px;
}

.skillsTitle{
    text-align: center;
}

/* experience */

.xpWrapper{
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
}

.xpTitle{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.xpInfo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.xpName{
    font-weight: bold;
}

.xpDates{
    font-size: 14px;
    font-style: italic;
}

.xpDesc{
    margin-bottom: 25px;
}